<li>
    {{name}}

    <button class="change-eaten btn btn-primary" data-id="{{id}}" data-neweaten="{{eaten}}">
        {{#if eaten}}Eat it!{{else}}Make a new one!{{/if}}
    </button>

    <button class="delete-burger btn btn-danger" data-id="{{this.id}}">DELETE</button>
</li>